.pet-header-color {
    color: green;
}

#edit-button {
    background-color: rgb(33, 126, 23);
    color: white;
}

.pet-lost{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.pet-found{
    color: rgb(33, 126, 23);
    font-weight: bold;
}

.table {
    border-collapse: collapse;
  }
  
/* Elimina el espacio entre las columnas */
.table th, .table td {
padding: 0;
}

.text-left-header {
    text-align: left;
}