#root > .App:nth-child(2) {
    overflow-x: hidden;
    max-width: fit-content;
}

.hero-header {
    background:
        /* url('static/img/bg-top.png'),
        url('static/img/bg-dot.png'), */
        url('../../../public/assets/img/bg_round.png'),
        /* url('static/img/bg-tree.png'), */
        url('../../../public/assets/img/bg_bottom_hero.png');
    background-position:
        /* 10px 10px,
        bottom 190px right 10px, */
        left 55% top -1px,
        /* left 45% bottom -1px, */
        center bottom -1px;
    background-repeat: no-repeat;
    background-size: auto, contain;
}

.hero-img {
    border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
    height: 80% !important;
}

.img-fluid.wow {
    border-radius: 65% 80% 50% 217% / 50% 50% 50% 50%;
}

.btn-mapet {
    background-color: #21be9c !important;
    color: #fff !important;
}

.btn-mapet:hover {
    background-color: #fff !important;
    color: #21be9c !important;
}
