#register-header-color {
    color: green;
}

#register-margin {
    margin-top: 6rem;
    margin-bottom: 2.50rem;
}

#icons-register {
    color: green;
}

#register-button {
    background-color: green;
    color: white;
}