#navbar .active {
    color: white;
}

#navbar {
    background-color: rgb(7, 7, 61);
}

#navbar-button {
    color: rgb(9, 173, 140);
}

#navbar-brand {
    color: rgb(9, 173, 140);
}

#icon {
    margin-left: 0.25rem;
}

#navbar-left {
    margin-right: 11rem;
}

@media only screen and (max-width: 600px) {
    #navbarNav {
        margin-left: 0px !important;
        margin-bottom: 0px !important;
    }
    
    #nav-item {
        margin-bottom: 0.25rem;
    }
}