.navbar-icon-color {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    border-color: white !important; /* This changes the border color to white */
}

.navbar-brand img {
    display: block;
    height: 10vh;
    position: relative;
    top: -1vh;
}

.navbar-nav .nav-link{
    align-items: center;
    color: #21be9c;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}



.show {
    display: block !important;
}

@media only screen and (max-width: 600px) {
    .navbar-nav .nav-link{
        align-items: start;
        color: #21be9c;
        display: flex;
        gap: 0.5rem;
        justify-content: start;
    }
}